@use '../abstracts/' as *;

.mb50 {
    margin-bottom: 50px;
}

.relative {
    position: relative;
}

.mt130 {
    margin-top: 130px;
}

.mg0_15 {
    margin: 0 15px;
}

.mb30 {
    margin-bottom: 30px;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mt60 {
    margin-top: 60px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb8 {
    margin-bottom: 8px;
}

.mt30 {
    margin-top: 30px;
}

