@use '../abstracts/' as *;

.breadcrumbs {
    text-align: center;
    h3 {
        text-transform: capitalize;
    }
}
.tf-title {
    text-align: center;
    margin-bottom: 50px;
    &.mb40 {
        margin-bottom: 40px;
    }
    .title {
        text-transform: capitalize;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    .sub {
        margin-top: 8px;
        font-size: 17px;
        line-height: 1.4;
        color: $white;
        margin-bottom: 27px;
    }
}


.box-slider .image {
    position: relative;
    .icon {
        position: absolute;
        &.icon1 {
            top: 34%;
            right: -58px;
            img {
                animation: move3 5s infinite linear;
                -webkit-animation: move3 5s infinite linear;
            }
        }
        &.icon2 {
            top: 24%;
            left: 20%;
        }
        &.icone {
            bottom: -20px;
            left: -40px;
        }
    }
}

.themesflat-pagination {
    ul {
        @include flex2;
        li {
            padding: 0;
            margin-right: 8px;
            a {
                @include flex(center,center);
                @include font-16;
                font-weight: $font-w7;
                font-family: $font-main;
                border: 1px solid $color-main2;
                background: transparent;
                width: 36px;
                height: 36px;
                color: $white;
                padding: 0;
                &.active,
                &:hover {
                    background: $bg-2;
                    border-color: $bg-2;
                }
            }
        }
    }
}


// page-title-slider
.main {
    .page-title {
        position: relative;
        padding: 0;
        .container {
            max-width: 1140px;
        }
        .slider-st1 {
            padding: 162px 0 154px;
            .overlay {
                @include overlay;
                opacity: 0.5;
  
                img {
                    mix-blend-mode: luminosity;
                    opacity: 0.7;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .slider-st2 {
            padding: 187px 0 220px;
            background: none;
            .overlay {
                @include overlay;
                background: url('./../../assets/images/backgroup/bg-3.jpg') center center no-repeat;
                background-size: cover;
                opacity: 0.5;
            }
        }
        .slider-st3 {
            padding: 299px 0 300px;
            background: none;
            .overlay {
                @include overlay;
                background: url('./../../assets/images/backgroup/bg-4.jpg') center center no-repeat;
                background-size: cover;
                box-shadow: 0 40px 4px 0 rgba(0, 0, 0, 0.25);
                opacity: 0.7;
            }
        }
        .box-slider {
            @include flex2;
            .content-box {
                padding-top: 38px;
                width: 50%;
                h1 {
                    margin-bottom: 24px;
                    margin-right: -100px;
                }
                p {
                    letter-spacing: 0;
                    padding-right: 140px;
                    margin-bottom: 40px;
                    font-size: 17px;
                    line-height: 1.4;
                    color: $white;
                    font-weight: bold;
                    margin-right: -130px;
                }
            }
            .image {
                text-align: right;
                width: 50%;
                img {
                    // animation: move4 5s infinite linear;
                    z-index: 2;
                }
                .img_main {
                    margin-right: -38px;
                }
                .icon1,
                .icon2,
                .icon3 {
                    z-index: -1;
                }
                .icon1 {
                    img {
                        animation: move2 5s infinite linear;
                        -webkit-animation: move2 5s infinite linear;
                    }
                }
                .icon2 {
                    img {
                        animation: move3 5s infinite linear;
                        -webkit-animation: move3 5s infinite linear;
                    }
                }
                .icon3 {
                    left: -30px;
                    bottom: -30px;
                    img {
                        animation: move5 5s infinite linear;
                        -webkit-animation: move5 5s infinite linear;
                    }
                }
            }
            .tf-button {
                height: 60px;
                font-size: 16px;
                line-height: 1.72;
            }
        }
    }
    .page-title {
        .slider-st2 {
            .box-slider {
                .content-box {
                    padding-top: 33px;
                }
            }
        }
    }
    .page-title {
        .slider-st3 {
            .box-slider {
                text-align: center;
                .content-box {
                    width: 100%;
                    padding-top: 33px;
                    text-align: center;
                    padding: 0 19%;
                    h2 {
                        text-transform: uppercase;
                        margin-bottom: 15px
                    }
                    p {
                        padding: 0 60px
                    }
                    .wrap-btn {
                        @include flex(center,center);
                    }
                }
            }
        }
    }
}

/* animation slider */
.box-slider .content-box .wrap-btn,
.box-slider .content-box h1,
.box-slider .content-box h2,
.box-slider .content-box .sub-title {
    transform: translateY(200px);
    opacity: 0;
}

.box-slider .image {
    transform: translateX(200px);
    opacity: 0;
}

.swiper-slide-active .box-slider .image,
.swiper-slide-active .box-slider .content-box .wrap-btn,
.swiper-slide-active .box-slider .content-box h1,
.swiper-slide-active .box-slider .content-box h2,
.swiper-slide-active .box-slider .content-box .sub-title {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 800ms ease, opacity 800ms ease;
    -moz-transition   : transform 800ms ease, opacity 800ms ease;
    -ms-transition    : transform 800ms ease, opacity 800ms ease;
    -o-transition     : transform 800ms ease, opacity 800ms ease;
    transition        : transform 800ms ease, opacity 800ms ease;
    transition-delay  : 1000ms;
}
.swiper-slide-active .box-slider .image {
    transform: translateX(0px);
}
.swiper-slide-active .box-slider .content-box .wrap-btn,
.swiper-slide-active .box-slider .content-box h1,
.swiper-slide-active .box-slider .content-box h2,
.swiper-slide-active .box-slider .content-box .sub-title {
    transform: translateY(0px);
}
.swiper-slide-active .box-slider .image,
.swiper-slide-active .box-slider .content-box h2,
.swiper-slide-active .box-slider .content-box h1 {
    transition-delay: 400ms;
}

.swiper-slide-active .box-slider .content-box .sub-title {
    transition-delay: 500ms;
}

.swiper-slide-active .box-slider .content-box .wrap-btn {
    transition-delay: 600ms;
}

.wrap-about {
    .box-text {
        margin-bottom: 24px;
        background: $bg-4;
    }
    &.style2 {
        .box-text {
            margin-bottom: 30px;
        }
    }
}

.box-text {
    position: relative;
    background: $bg-4;
    transform: translateY(0);
    &.active,
    &:hover {
        box-shadow: $box-shadow;
    }
    .h7 {
        text-transform: capitalize;
        margin-bottom: 16px;
    }
    p {
        color: $color-main1;
        margin-bottom: 0;
    }
    .number {
        position: absolute;
        top: -2px;
        left: 18px;
        font-size: 80px;
        line-height: 96px;
        color: rgba(34, 183, 143, 0.1);
        font-weight: 700;
        font-family: $font-main;
    }
}

.roadmap {
    @include flex2;
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    margin-top: 30px;
    position: relative;
    &::after {
        width: 6px;
        height: 50%;
        background: $color-main2;
        position: absolute;
        top: 0;
        left: 49.8%;
        content: "";
        z-index: -1;
    }
    &::before {
        width: 6px;
        height: 55%;
        background: $bg-2;
        position: absolute;
        top: 46%;
        left: 49.8%;
        content: "";
        z-index: 1;
    }
    .box {
        width: 50%;
        .rm-box {
            position: relative;
            margin-bottom: 115px;
            &::after,
            &::before {
                @include topcenter;
                position: absolute;
                content: "";
                background: $bg-2;
            }
            &::after {
                min-width: 20px;
                height: 20px;
            }
            &::before {
                width: 52px;
                height: 2px;
            }     
            .corner-box {
                position: relative;
                background: #0e2431;
                padding: 18px;
                &.active,
                &:hover {
                    box-shadow: 0 0px 32px 0 rgb(34 183 143 / 50%);
                }
                h5 {
                    margin-bottom: 18px;
                }
                &::before {
                    width: calc(105% - 3rem);
                }
                &:hover::before {
                    width: 0;
                }
                &::before,&::after {
                    background: #0e2431;
                }
            }
 
            ul {
                li {
                    padding-left: 26px;
                    position: relative;
                    &::before {
                        position: absolute;
                        left: 10px;
                        top: 13px;
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background: $color-main1;
                    }
                }
            }
            &.style {
                .corner-box {
                    background: #13182b;
                    &::before,
                    &::after {
                        background: #13182b;
                    }
                }
                &::after,
                &::before {
                    background: $color-main2;
                }
            }
        }
        &.box-left {
            .rm-box {
                padding-right: 62px;
                &::after {
                    right: -10px;
                }
                &::before {
                    right: 10px;
                }
            }
        }
        &.box-right {
            margin-top: 165px;
            .rm-box {
                padding-left: 62px;
                &::after {
                    left: -10px;
                }
                &::before {
                    left: 10px;
                }
            }
        }
    }
    .corner-box {
        &::after {
            height: calc(100% - 3rem);
            width: calc(100% + 0px);
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after,
        &::before {
            background: #0e2432;
        }
    }
    &.scrol {
        height: 937px;
        overflow-y: auto;
        &::-webkit-scrollbar { 
            display: none; 
        }
        &:hover {
            cursor: s-resize;
        }
    }
    &.style2 {
        width: 100%;
        margin-top: 28px;
        .box {
            width: 100%;
            position: relative;
            padding-top: 53px;
            padding-bottom: 48px;
            .rm-box {
                background: #0e2230;
                margin-bottom: 0;  
                &::after,
                &::before {
                    display: none;
                }    
            }
            &::before,
            &::after {
                @include leftcenter;
                position: absolute;
                background: $bg-2;
                content: "";
            }
            &::after {
                min-width: 20px;
                height: 20px;
                top: -7px;
            }
            &.active {
                &::before {
                    height: 50%;
                }
                .icon {
                    display: none;
                }
            }
            &::before {
                width: 2px;
                height: 100%;
                top: 10px;
            }
            .corner-box {
                background: #0e2230;
                &::after,
                &::before {
                    background: #0e2230;
                }
                &::before {
                    height: calc(100% + 0px);
                    top: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::after {
                    height: calc(108% - 3rem);
                    width: calc(100% + 4px);
                    left: -2px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.active,
                &:hover {
                    &::after {
                        height: 0;
                    }
                }
            }
            &.style {
                &::after,
                &::before {
                    background: $color-main2;
                }
                .corner-box {
                    background: #13182b;
                    &::after,
                    &::before {
                        background: #13182b;
                    }
                    &::before {
                        height: calc(100% + 0px);
                        top: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::after {
                        height: calc(108% - 3rem);
                        width: calc(100% + 4px);
                        left: -2px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        &::after {
                            height: 0;
                        }
                    }
                }
                .icon {
                    background: $color-main2;
                }
            }
            .icon {
                min-width: 20px;
                height: 20px;
                bottom: -11px;
                position: absolute;
                @include leftcenter;
                background: $bg-2;
            }
        }
        &::after {
            width: 33%;
            height: 6px;
            right: -15px;
            top: 0;
            left: auto;
            z-index: 0;
        }
        &::before {
            width: 76%;
            height: 6px;
            left: -15px;
            top: 0;
        }
        &.style3 {
            &::before {
                width: 65%;
            }
            &::after {
                width: 37%;
            }
            .box {
                padding: 87px 58px 43px 62px;
                &::before,
                &::after {
                    left: 0
                }
                &::before {
                    height: 53%;
                }
                .rm-box {
                    position: initial;
                    background: none;
                    &::after {
                        top: 56.2%;
                        min-width: 20px;
                        height: 20px;
                        left: -10px;
                        position: absolute;
                        content: "";
                        background: $bg-2;
                        display: block;
                    }
                    &::before {
                        top: 56.2%;
                        height: 2px;
                        width: 53px;
                        left: 10px;
                        background: $bg-2;
                        position: absolute;
                        content: "";
                        display: block;
                    }
                    .corner-box {
                        background: url('./../../assets/images/backgroup/4.png') center center no-repeat;
                        background-size: cover;
                        &::before,
                        &::after {
                            background: url('./../../assets/images/backgroup/4.png') center center no-repeat;
                            background-size: cover;
                        }
                        &::before {
                            height: calc(100% + 4px);
                            top: -2px;
                        }
                        &::after {
                            height: calc(100% - 3rem);
                            width: calc(100% + 0px);
                            left: 0px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                &.style {
                    .rm-box {
                        &::after,&::before {
                            background: $color-main2;
                        }
                        .corner-box {
                            background: url('./../../assets/images/backgroup/5.png') center center no-repeat;
                            background-size: cover;
                            &::before,
                            &::after {
                                background: url('./../../assets/images/backgroup/5.png') center center no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
        &:hover {
            cursor: ew-resize;
        }
    }

}


.project-wrapper {
    position: relative;
    @include flex(center,flex-start);
    .image-wrapper {
        width: 70%;
        padding-right: 47px;
        img {
            border-radius: 20px;
        }
    }
    .content-wrapper {
        margin-top: -25px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 420px;
        z-index: 99;
        .content_inner { 
            .wrapper {
                position:relative;
                z-index: 9999;
            }
            padding: 30px 30px 20px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: linear-gradient(90deg, #1A222C 17.33%, rgba(35, 44, 54, 0) 100%);
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            h4 {
                margin-bottom: 12px;
            }
            &::before {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: 2px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(to right, #ffffff14, #ffffff00);
                z-index: 999;
                content: "";
                border-radius: 20px;

            }
            .title {
                margin-bottom: 10px;
            }
            .desc {
                margin-bottom: 10px;
            }
            .price {
                padding: 8px 10px;
                @include flex(center,space-between);
                background-color: $color-main1;
                border-radius: 6px;
                margin-bottom: 20px;
                li {
                    span {
                        color: #1A222C;
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 1.4;
                    }
                }
            }
            .featured_title {
                margin-bottom: 10px;
            }
        }
    }
    
}

.featured-countdown {
    padding-right: 22px;
    .desc {
        @include flex(center,space-between);
        padding: 0 15px;
        li {
            font-size: 12px;
            font-weight: bold;
            color: $white
        }
    }
}


.countdown__item {
    @include flex(center,center);
	width: 55px;
	height: 62px;
	position: relative;
    background: url(./../../assets/images/backgroup/bg_countdown.png) center center no-repeat;
    background-size: cover;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 73px;
        content: ":";
        color: #343D46;
        font-weight: bold
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}


.countdown__timer {
    @include flex(center,space-between);
}