@use '../abstracts/' as *;

.flat-tabs {
    .menu-tab {
        @include flex(center,center);
        li {
            @include transition3;
            @include flex(center, center);
            position: relative;
            height: 44px;
            margin: 0 4px;
            padding: 5px 15px;
            background: #171F29;
            border-radius: 6px;
            min-width: 120px;
            span {
                @include transition3;
                color: $white;
                font-size: 14px;
                line-height: 24px;
                font-weight: bold;
                font-family: 'resobot-bold';
                text-transform: uppercase;
            }
            &.active,
            &:hover {
                background: $color-hover;
                span{
                    color: #09121D;
                }
            } 
            
        }
    }
    .content-tab {
        margin-top: 50px;
        .content-inner {
        }
    }
}